<h1 class="mt-4">Clientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{ client.id ? 'Edição' : 'Formulario de cadastro'}}</li>
    </ol>     
    <div class="container">
        <form #clientForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf="success == true">
                        Cliente Salvo/Atualizado com sucesso
                    </div>
                    <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                        {{erro}}
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="client.id">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Id:</label>
                        <input type="text" class="form-control" disabled="true"
                        name="id" [ngModel] ="client.id">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Data de cadastro:</label>
                        <input type="text" class="form-control" disabled="true"
                        name ="dataCadastro" [ngModel] ="client.dataCadastro">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>*Nome:</label>
                        <input type="text" class="form-control" name="nome"
                        [(ngModel)]="client.nome"
                        placeholder="Digite o nome do novo cliente">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>*CPF:</label>
                        <input type="text" class="form-control" name="cpf"
                        [(ngModel)]="client.cpf"
                        placeholder="Digite o CPF do novo cliente">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <button type="submit" class="btn btn-success" *ngIf="!client.id" >
                      <i class="fa fa-save"></i> Salvar
                  </button>
                  <button type="submit" class="btn btn-success" *ngIf="client.id" >
                    <i class="fa fa-sync-alt"></i> Atualizar
                  </button>

                  <button type="button" class="btn btn-primary ml-1" (click)="voltar()">
                      <i class="fa fa-arrow-circle-left"></i> Voltar 
                  </button>
                </div>
            </div>
        </form>
        <br>
    </div>

