<h1 class="mt-04">Serviço Prestado</h1>
<ol class="breadcrumb mb-04">
    <li class="breadcrumb-bitem active">Novo</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                        Serviço Prestado salvo com sucesso !
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                   {{error}}
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente:</label>
                    <select class="form-control"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="servico.idCliente">
                        <option value="">Selecione um cliente</option>
                        <option *ngFor="let Cliente of clients" 
                            [ngValue]="Cliente.id" >
                            {{Cliente.nome}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Descrição:</label>
                        <input class="form-control" 
                        [(ngModel)]="servico.descricao"
                        type="text" name="descricao"
                         id="inputDescricao"
                         placeholder="Descreva aqui o serviço">
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data:</label>
                    <input class="form-control" 
                    [(ngModel)]="servico.data" 
                    type="text" name="data" id="inputData"
                    placeholder="Data do servico no formato DD/MM/YYYY">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor:</label>
                    <input class="form-control" 
                    [(ngModel)]="servico.preco"
                    type="text" name="preco" id="inputPreco"
                    placeholder="Digite o valor do serviço">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Salvar
                </button>

                <button type="button" class="btn btn-primary ml-1" 
                    routerLink="/provided-service-list">
                    <i class="fa fa-arrow-alt-circle-left"></i>
                    Voltar
                </button>
            </div>
        </div>
    </form>
</div>
<br>
<br>