<h1 class="mt-04">Serviço Prestado</h1>
<ol class="breadcrumb mb-04">
    <li class="breadcrumb-bitem active">Consulta</li>
</ol>

<div class="container" >
    <form #consultaForm="ngForm" (submit)="consultar()">
        <div class="div row">
            <div class="div col-md-6">
                <label for="inputNome">Nome Cliente:</label>
                    <input type="text" [(ngModel)]="nome"
                           name="nome" class="form-control"
                           id="inputNome"
                           placeholder="Digite o nome do cliente">
            </div>

            <div class="div col-md-6">
                <label for="inputMes">Mês:</label>
                    <select [(ngModel)]="mes" class="form-control" name="mes">
                       <option value="">Selecione um mês</option> 
                       <option *ngFor="let mes of meses" [value]="mes">
                           {{mes}}
                       </option> 
                    </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>

                <button type="button" class="btn btn-warning ml-1"
                    routerLink="/provided-service-form">
                    <i class="fa fa-plus"></i> Novo serviço
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <br/>
        <div class="col-md-12">
            <br/>
            <div class="alert alert-warning" role="alert" *ngIf="message">
                {{message}}
            </div>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of list">
                        <td>{{ s.client.nome }}</td>
                        <td>{{ s.descricao }}</td>
                        <td>{{ s.valor }}</td>
                        <td>{{ s.data }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>